.abdallah{
    color: #3E00FF;
    display: inline-block;
    background-color: #57CC99;
    width: 980px;
    padding: 10px 250px 0px 250px;
    line-height: 2;

}


body{
    background-color: #FFEDDA;
    text-align: center;
    font-family: arial, monospace;
    padding: 20px;
}
.cloud{
    position: relative;
    left: 400px;
}
.cloud2{
    position: relative;
    right: 400px;
    top: 450px;
}
.mountain{
        position: relative;
}
h1{
    padding: 50px;
    font-size: 5.562rem;
    font-family: 'Sacramento', cursive;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #3DB2FF;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    color: #04009A;
}

hr {
    border-style: none;
    border-top: 10px dotted #B2B1B9;
    width: 90px;
}

.work {
    position: relative;
    bottom: 150px;
    font-weight: normal;
    color: #3E00FF;
}

.Abdallah-img {
    padding: 25px;
}

.skill-row {
    font-size: 20px;
    margin: 0px 230px 0px 30px;
}

.computer {
    padding: 0px 0px 0px 400px;
}

.contact-me {
    color: lightblue;
    background-color: #3E00FF;
    padding-bottom: 10px;
}
